@font-face {
  font-family: "Roboto";
  src: url("fonts/Roboto-Regular.ttf");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("Roboto-Bold.ttf");
  font-weight: 700;
  font-display: swap;
  font-style: bold;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  background-image: linear-gradient(to right top,
      #060606,
      #050504,
      #030303,
      #020201,
      #000);
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 62.5%;
  font-weight: normal;
}

img {
  flex-shrink: 0;
  height: 100%;
  object-fit: contain;
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

button,
input {
  border: none;
  cursor: pointer;
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  width: 130rem;
}

.button {
  border-radius: 5rem;
  color: #fff;
  padding: 1rem 3rem;
}

.header {
  padding: 4rem 11rem 4rem 8rem;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;
  z-index: 10;
}

.header__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__menu {
  display: flex;
  align-items: center;
}

.header__nav a:not(:last-child) {
  margin-right: 7.1rem;
}

.header__nav {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 150%;
}

.header__logo {
  display: block;
  height: 4rem;
  width: 4rem;
}

.header__button {
  background: linear-gradient(94.26deg, #c89afc 9.51%, #7c6afa 90.23%);
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 150%;
  margin-left: 55.3rem;
}

.main-display__background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.main-display {
  padding-top: 27rem;
}

.main-display .container {
  padding-bottom: 22.8rem;
  position: relative;
  z-index: 10;
}

.main-display__header {
  font-size: 6.4rem;
  font-weight: 700;
  margin-bottom: 5rem;
  max-width: 76rem;
}

.main-display__timer {
  display: flex;
  margin-bottom: 7.6rem;
}

.main-display__button {
  background: linear-gradient(94.78deg, #df5950 11.19%, #451046 93.72%);
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 150%;
}

.timer__item {
  align-items: center;
  background-color: #121212;
  display: flex;
  flex-flow: column;
  height: 11.2rem;
  justify-content: center;
  width: 10.2rem;
}

.timer__item:not(:last-child) {
  margin-right: 3rem;
}

.timer__count {
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 140%;
}

.timer__text {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 140%;
  opacity: 0.4;
}

.work {
  padding-top: 20rem;
  padding-bottom: 24.3rem;
}

.work__wrap {
  display: flex;
}

.work__img {
  width: 52.6rem;
  height: 42.9rem;
  margin-right: 13.9rem;
}

.work__text {
  max-width: 63.6rem;
  padding-top: 6.9rem;
}

.work__header {
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 140%;
  margin-bottom: 4.5rem;
}

.work__description {
  font-size: 1.6rem;
  line-height: 160%;
}

.process {
  padding-bottom: 20rem;
  position: relative;
}

.process__title {
  align-items: center;
  display: flex;
  margin-bottom: 2rem;
}

.process__img {
  height: 12.7rem;
  width: 12.7rem;
}

.process__header {
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 140%;
}

.process__description {
  padding-left: 2.4rem;
}

.process__description__text {
  font-size: 1.6rem;
  line-height: 160%;
  margin-bottom: 8rem;
  max-width: 41.1rem;
  opacity: 0.5;
}

.process__columns {
  display: flex;
}

.process__work,
.process__work__even {
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 140%;
  margin-bottom: 6.5rem;
  position: relative;
}

.process__work::after {
  background: linear-gradient(94.26deg, #c89afc 9.51%, #7c6afa 90.23%);
  content: "";
  display: block;
  height: 0.2rem;
  position: absolute;
  top: 6.5rem;
  transform: matrix(-1, 0, 0, 1, 0, 0);
  width: 100%;
}

.process__work__even::after {
  background: linear-gradient(94.26deg, #c89afc 9.51%, #7c6afa 90.23%);
  content: "";
  display: block;
  height: 0.2rem;
  position: absolute;
  top: 6.5rem;
  width: 100%;
}

.process__text {
  font-size: 1.4rem;
  line-height: 160%;
  max-width: 30.6rem;
  margin-right: 1.8rem;
  opacity: 0.5;
}